h1{
    width:100%;
    text-align:center;
    color:black;
    float:none;
    background:teal;
    padding-bottom:10px;
    padding-top:10px;
    border-bottom:purple solid 5px;
    font-family: 'Bangers', cursive;
}

#card1{
    height:25rem;
    border: purple solid 3px;
    font-size: 1.2rem;
}

#card2{
    height:25rem;
    border: purple solid 3px;
}

span{
    float:right;
}

body{
    background-image: url("../images/background.jpg");
}

*{
    font-family: 'Bangers', cursive;
}